<div class="home-container">
    <div class="home-header">
        <div class="home-title">İrəliləyiş</div>
        <div class="home-user">İstifadəçi adı</div>
        <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
    <div class="cards">
        <div class="card" (click)="openModal('personalities')">
            <span>Şəxsiyyət</span>
        </div>
        <div class="card" (click)="openModal('specialities')">
            <span>Ixtisas</span>
        </div>
        <div class="card" (click)="openModal('exam-subjects')">
            <span>Fənnlər</span>
        </div>
        <div class="card" (click)="openModal('budget')">
            <span>Büdcə</span>
        </div>
    </div>
    <div class="result-card">Nəticə</div>
</div>


