<div class="personalities-container">
    <h1>Şəxsiyyət Tipleri</h1>
    <div class="content">
        <div class="card">
            <h2>Şəxsiyyət Tipleri Siyahısı</h2>
            <div class="add-personality-row">
              <button mat-raised-button color="primary" (click)="openAddPersonalityModal()">
                <mat-icon>add_circle</mat-icon> Kişilik Tipi əlavə et
              </button>
            </div>
            <table class="personalities-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ad</th>
                        <th>Əməliyyatlar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let personality of personalities">
                        <td>{{ personality.id }}</td>
                        <td>{{ personality.name }}</td>
                        <td>
                          <div class="action-buttons">
                            <button mat-icon-button color="primary" matTooltip="Düzenle" (click)="editPersonality(personality)">
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" matTooltip="Sil" (click)="deletePersonality(personality.id)">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Modal ve formlar burada olacak --> 