<div class="main-sidebar" *ngIf="isAdminRoute">
    <div class="nav-links">
        <button>
            <a routerLink="/admin/students" routerLinkActive="active">Students</a>
        </button>
        <button>
            <a routerLink="/admin/personalities" routerLinkActive="active">Personalities</a>
        </button>
        <button>
            <a routerLink="/admin/specialities" routerLinkActive="active">Specialities</a>
        </button>
        <button>
            <a routerLink="/admin/subjects" routerLinkActive="active">Subjects</a>
        </button>
        <button>
            <a routerLink="/admin/exams" routerLinkActive="active">Exams</a>
        </button>
        <button>
            <a routerLink="/admin/universities" routerLinkActive="active">Universities</a>
        </button>
        <button class="logout-btn" (click)="logout()">
            Logout
        </button>
    </div>
</div>